<launch>    
    <arg name="ci" default="0"/>
    <arg name="robot_frame" default="base_link"/>
    <arg name="camera_frame" default="camera/$(arg ci)"/>
    <arg name="marker_frame" default="marker/42"/>
    <arg name="eef_frame" default="ur5_arm_ee_link"/>
    <arg name="is_mobile" default="False"/>
    <arg name="base_marker_frame" default="marker/17"/>
    <arg name="l" default="0.08"/>

    <param name="robot_frame" value="$(arg robot_frame)"/>
    <param name="camera_frame" value="$(arg camera_frame)"/>
    <param name="marker_frame" value="$(arg marker_frame)"/>
    <param name="eef_frame" value="$(arg eef_frame)"/>
    <param name="is_mobile" value="$(arg is_mobile)"/>
    <param name="base_marker_frame" value="$(arg base_marker_frame)"/>

    <node pkg="robot_calibration" type="calibration" name="robot_calibration_ridgeback" output="screen" required="true"/>
</launch>
